.logo {
    width: 2em;
}

.logo-title {
    padding-left: .5em;
    width: 9em;
}

.search-form {
    width: 100%;
    text-align: center;
    margin-left: 11%;
}

.search-form > .field-container {
    width: 100%;
    text-align: center;
}

.search-form > .field-container > .search-field {
    width: 80%;
    font-size: 30px;
    height: auto;
    text-align: center;
}

.search-form > .field-container > .search-field::placeholder {
    font-size: 30px;
    text-align: center;
}

.autocomplete-suggestions {
    background-color: #fff;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
}

.autocomplete-suggestions .autocomplete-suggestion:hover {
    background-color: #5e5e5e;
    color: #FFF;
    cursor: pointer;
}

@media (max-width: 499px) {
    .search-form > .field-container > .search-field {
        font-size: 20px;
        height: auto;
        text-align: center;
    }

    .search-form > .field-container > .search-field::placeholder {
        font-size: 20px;
        text-align: center;
    }
}